.fundo {
    background-image: url(img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.texto {
    color: white;
}

.slogan {
    margin-top: 200px;
}

.mensagem {

    margin-top: 200px;

}
label {
    font-weight: 700;
}

.back-texto {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    padding: 20px;
}
